.container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button{
  padding: 10px;
  background-color: #5b8bf2;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:disabled{
  background-color: #becdee;
  cursor: not-allowed;
}